.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 140px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 40px;
  padding-bottom: 0;
  width: 330px;
  background-color: rgb(236, 242, 245);
}
.title {
  display: flex;
  justify-content: center;
  width: 300px;
  text-transform: uppercase;
}
.statList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 44px;
  border: 1px solid gray;
  background-color: rgb(144, 136, 137);
}
.percentage {
  font-weight: 600;
}
